@font-face {
    font-family: 'Pacifico';
    src: local('Pacifico'), url(../../assets/fonts/PlaypenSans/PlaypenSans-VariableFont_wght.ttf) format('woff');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }

  @font-face {
    font-family: 'Caveat';
    src: local('Caveat'), url(../../assets/fonts/Caveat/Caveat-VariableFont_wght.ttf) format('woff');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }

  @font-face {
    font-family: 'Courgette';
    src: local('Courgette'), url(../../assets/fonts/Courgette/Courgette-Regular.ttf) format('woff');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }

.accordion {
    overflow-y: 'scroll' !important;
    height: 65vh !important;
    overflow-y: auto;
    overflow-x: auto;
    border: black 2px solid !important;
    box-shadow: 6px 6px black;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.8) !important;
}

.accordion-body {
    /* overflow-x:auto; */
    overflow-y: 'hidden' !important;
    max-width: fit-content;
    /* max-height: 20pt; */
}

.accordion-button {
    padding: 0 !important;
}

.match-row {
    height: 6vh !important;
    /* border: 1px blue solid; */
    margin: 0 !important;
    padding: 0 !important;
    width: 65vw;
}

.match-row .col {
    height: 5vh;
    margin: 0;
    align-items: center !important;
    align-content: center !important;
    text-align: center !important;
    position: relative;
    /* top: 45%; */
}

.test-col {
    /* border: 1px red solid; */
}

.winPart {
    text-wrap:wrap !important;
    vertical-align: baseline;
    text-align: center !important;
    /* display:grid !important; */
}
.winPart.win {
    /* font-family: 'Courgette'; */
    /* font-weight: bold; */
    font-size: large;
}
.winPart.win svg{
    color:darkcyan !important;
}
.winPart.remake svg{
    color: yellow !important;
    font-style: italic;
}
.winPart.loss {
    /* font-family: 'Caveat'; */
    font-size: large;
}
.winPart.loss svg{
    color:brown !important;
}

.AccordionBody {
    width: 62vw;
    /* padding: -1vw; */
    /* background-color: red; */
}